[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
python-dotenv = "*"
requests = "*"
pytest = "*"
pybadges = "*"
pytest-mock = "*"
mock = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
